<a routerLink="/">Top</a>

<ng-container *ngIf="errorMessage == null; else error">

	<h1>Editing Survey ID: {{ surveyId }}</h1>

	<form [formGroup]="surveyFormGroup" (ngSubmit)="updateSurvey()">
		<app-survey-form   formControlName="survey"></app-survey-form>

		<input type="submit" name="send" value="Edit" [disabled]="! ( surveyFormGroup.dirty && surveyFormGroup.valid )" />
	</form>


	<form [formGroup]="optionFormGroup" (ngSubmit)="createOption()">
			<app-option-form formControlName="option"></app-option-form>

			<input type="submit" value="New" [disabled]="optionFormGroup.invalid" />
	</form>


	<div *ngFor="let xformGroup of optionFormGroups; let i = index">
		<form [formGroup]="xformGroup" (ngSubmit)="updateOption(i)">
			<app-option-form formControlName="option"></app-option-form>

			<input type="submit" value="Edit" [ngClass]="{'red-border': xformGroup.dirty }" [disabled]="! ( xformGroup.dirty && xformGroup.valid )" />
		</form>

		<button (click)="deleteOption(xformGroup.value.option.id)">Delete</button>
	</div>


</ng-container>


<ng-template #error>
	<h1>{{ errorMessage }}</h1>
</ng-template>
