<div>
	<button (click)="toggleNewSurvey()" title="Nové hlasování">Nové</button>
</div>

<form *ngIf="newSurveyVisible" [formGroup]="formGroup" (ngSubmit)="createSurvey()" class="form">
	<app-survey-form formControlName="survey"></app-survey-form>

	<div class="flexDiv">
		<div class="rightmost">
			<input type="submit" name="new" value="Uložit" [disabled]="formGroup.invalid"/>
		</div>
	</div>
</form>

<ng-container *ngIf="surveys.length > 0 ; else noSurveys">
	<h3>Uložená hlasování</h3>
	<table border="1" class="width100">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Krátce</th>
				<th scope="col">Datum a čas od</th>
				<th scope="col">Datum a čas do</th>
				<th scope="col">Smazat</th>
			</tr>
		</thead>
		<tr *ngFor="let survey of surveys">
			<td>
				<a routerLink="{{ '/survey/' + survey.id }}">{{survey.id}}</a>
			</td>
			<td>{{survey.name}}</td>
			<td>{{survey.fromDate.year}}-{{survey.fromDate.month}}-{{survey.fromDate.day}}
				{{survey.fromTime.hour}}:{{survey.fromTime.minute}}:{{survey.fromTime.second}}</td>
			<td>{{survey.untilDate.year}}-{{survey.untilDate.month}}-{{survey.untilDate.day}}
				{{survey.untilTime.hour}}:{{survey.untilTime.minute}}:{{survey.untilTime.second}}</td>
			<td>
				<button (click)="deleteSurvey(survey.id)">Smazat</button>
			</td>
		</tr>
	</table>
</ng-container>

<ng-template #noSurveys>
	<h1>Žádná hlasování.</h1>
</ng-template>