<div [formGroup]="formGroup" class="option" >
	<input type="hidden" formControlName="id" />


	<div>
		<label for="name" i18n>Short Name</label>
		<input type="text" formControlName="name" id="name"  />
	</div>


	<div>
		<label for="description" i18n>Description</label>
		<textarea formControlName="description" id="description"></textarea>
	</div>


	<div>
		<label for="file"  i18n>Photo</label>
		<input type="file" id="file" formControlName="file" />
	</div>


	<figure *ngIf="!!imageUrl">
		<img [src]="imageUrl | safe"  width="auto" height="100" (click)="doOverlay()" />
	</figure>
</div>
