<form [formGroup]="formGroup" (ngSubmit)="new()" class="option col-sm-8">
	<app-option-form formControlName="option"></app-option-form>

	<input type="submit" value="New" [disabled]="! formGroup.valid" />
</form>


<div *ngFor="let xformGroup of formGroups; let i = index">
	<form [formGroup]="formGroups[i]" (ngSubmit)="edit(i)">
		<app-option-form formControlName="option"></app-option-form>

		<input type="submit" value="Edit" [ngClass]="{'red-border': formGroups[i].touched }" [disabled]="! (formGroups[i].valid && formGroups[i].touched)" />
	</form>
	<button (click)="delete(i)">Delete</button>
</div>
