<div id="survey-form-component">
	<div>
		<label for="name" i18n>Short Name</label>

		<input type="text" [(ngModel)]="survey.name" name="name" id="name"  (ngModelChange)="change()"
		 (blur)="touch()" #name="ngModel" required />
	</div>


	<div>
		<label for="description" i18n>Description</label>

		<textarea [(ngModel)]="survey.description" name="description" id="description" (ngModelChange)="change()"
		 (blur)="touch()" required></textarea>
	</div>


	<div>
		<label i18n>Date from</label>

		<input type="text" ngbDatepicker [(ngModel)]="survey.fromDate" name="fromDate" #fromDate="ngbDatepicker" (click)="fromDate.toggle()"
		 size="11" readonly (ngModelChange)="change()" (blur)="touch()" />

		<ngb-timepicker #fromTimePicker #fromTimePickerNgModel="ngModel" [(ngModel)]="survey.fromTime" name="fromTime"
		 (ngModelChange)="change()" [spinners]="false" appNgbTimePickerValidator></ngb-timepicker>
	</div>


	<div>
		<label i18n>Date until</label>

		<input type="text" ngbDatepicker [(ngModel)]="survey.untilDate" name="untilDate" #untilDate="ngbDatepicker" (click)="untilDate.toggle()"
		 size="11" readonly (ngModelChange)="change()" (blur)="touch()" />

		<ngb-timepicker #untilTimePicker [(ngModel)]="survey.untilTime" name="untilTime" (ngModelChange)="change()"
		 [spinners]="false"></ngb-timepicker>
	</div>

	<div>{{ fromTimePicker.model.hour }}</div>
</div>
