<div [formGroup]=formGroup class="width100">
	<input type="hidden" formControlName="id" />


	<div class="width100 flexDiv formPart">
		<label for="name">Krátce</label>
		<input type="text" id="name" formControlName="name" maxlength="20" />
	</div>


	<div class="width100 flexDiv formPart">
		<label for="description" class="noTakeWidth">Popis</label>
		<textarea id="description" formControlName="description" rows="2" class="takeWidth"></textarea>
	</div>


	<div class="flexDiv width100 formPart">
		<div class="flexDiv">
			<label>Datum od</label>
			<input type="text" ngbDatepicker #fromDate="ngbDatepicker" (click)="fromDate.toggle()" size="11"
				formControlName="fromDate" />
		</div>


		<div class="rightmost flexDiv formPart">
			<label>Čas od</label>
			<div>
				<ngb-timepicker [spinners]="false" formControlName="fromTime"></ngb-timepicker>
			</div>
		</div>
	</div>


	<div class="flexDiv width100 formPart">
		<div class="flexDiv">
			<label>Datum do</label>
			<input type="text" ngbDatepicker #untilDate="ngbDatepicker" (click)="untilDate.toggle()" size="11"
				formControlName="untilDate" />
		</div>


		<div class="rightmost flexDiv">
			<label>Čas do</label>
			<div>
				<ngb-timepicker [spinners]="false" formControlName="untilTime"></ngb-timepicker>
			</div>
		</div>
	</div>
</div>
