* {
	box-sizing: border-box;

	font-family: 'Space Mono', monospace;
}



body {
	width:600px;
	margin: 0 auto;
}



.testBorder {
	border: 1px solid black;
}



input.ngb-tp-input {
	border: initial;
	border-style: inset;
	border-width: initial;
	border-radius: 10px;
}



textarea {
	border-style: inset;
}


input, textarea {
	padding: 0 10px;
}